<main class="border m-1 p-2 h-full rounded-lg shadow-xl shadow-cyan-500/50">
  <router-outlet></router-outlet>
  <hr class="text-slate-200 my-8" />
  <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua. Donec ultrices tincidunt arcu non
  sodales neque sodales. Lorem mollis aliquam ut porttitor. Curabitur vitae nunc
  sed velit dignissim sodales ut. Quis ipsum suspendisse ultrices gravida dictum
  fusce ut placerat orci. Id aliquet lectus proin nibh nisl condimentum id.
  Ultrices eros in cursus turpis massa tincidunt dui. Rutrum tellus pellentesque
  eu tincidunt tortor aliquam. Turpis cursus in hac habitasse platea dictumst.
  Quisque id diam vel quam. Eu turpis egestas pretium aenean pharetra magna ac
  placerat vestibulum. Morbi enim nunc faucibus a pellentesque. A diam
  sollicitudin tempor id eu nisl nunc. Lectus sit amet est placerat in egestas
  erat imperdiet. Vestibulum lorem sed risus ultricies tristique. Metus dictum
  at tempor commodo ullamcorper a lacus. Proin sed libero enim sed faucibus
  turpis in. Vel pharetra vel turpis nunc eget lorem dolor sed. Elit sed
  vulputate mi sit amet mauris commodo quis. Ipsum consequat nisl vel pretium
  lectus quam id. Viverra mauris in aliquam sem. Eleifend donec pretium
  vulputate sapien. Ullamcorper morbi tincidunt ornare massa eget egestas purus
  viverra. Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam. Diam
  in arcu cursus euismod quis viverra nibh cras pulvinar. Aliquet eget sit amet
  tellus cras adipiscing enim eu. Et netus et malesuada fames ac turpis egestas
  sed tempus. Non diam phasellus vestibulum lorem sed risus ultricies. Neque
  egestas congue quisque egestas diam in. Blandit turpis cursus in hac habitasse
  platea dictumst quisque. Sed libero enim sed faucibus turpis. Id donec
  ultrices tincidunt arcu non. Vitae proin sagittis nisl rhoncus mattis rhoncus
  urna neque. In metus vulputate eu scelerisque felis. Lorem sed risus ultricies
  tristique nulla aliquet enim. Sit amet consectetur adipiscing elit duis
  tristique sollicitudin. Hac habitasse platea dictumst vestibulum rhoncus est
  pellentesque elit ullamcorper. Fames ac turpis egestas maecenas pharetra.
  Egestas tellus rutrum tellus pellentesque eu tincidunt tortor. Eget sit amet
  tellus cras adipiscing enim. Consequat interdum varius sit amet mattis
  vulputate enim. Diam vel quam elementum pulvinar. Nisi vitae suscipit tellus
  mauris a diam maecenas sed enim. Sit amet commodo nulla facilisi nullam
  vehicula. Vel quam elementum pulvinar etiam non. Id diam vel quam elementum
  pulvinar etiam. Parturient montes nascetur ridiculus mus mauris. Erat
  imperdiet sed euismod nisi porta lorem mollis aliquam ut. Nunc consequat
  interdum varius sit amet mattis vulputate enim nulla. Nulla facilisi cras
  fermentum odio eu feugiat. Dictum non consectetur a erat. Gravida in fermentum
  et sollicitudin ac. Urna cursus eget nunc scelerisque viverra mauris in. Nec
  sagittis aliquam malesuada bibendum arcu vitae elementum curabitur vitae.
  Sapien pellentesque habitant morbi tristique senectus. Eget felis eget nunc
  lobortis mattis. Phasellus vestibulum lorem sed risus. Pretium aenean pharetra
  magna ac placerat vestibulum lectus mauris ultrices. Tellus rutrum tellus
  pellentesque eu tincidunt tortor aliquam nulla. Facilisis leo vel fringilla
  est. Diam sollicitudin tempor id eu nisl nunc mi. Varius vel pharetra vel
  turpis nunc. Tortor consequat id porta nibh venenatis cras sed. Sit amet
  dictum sit amet justo donec enim diam vulputate. Pulvinar etiam non quam lacus
  suspendisse. Bibendum enim facilisis gravida neque convallis a cras semper
  auctor. Eu sem integer vitae justo eget magna. Tincidunt tortor aliquam nulla
  facilisi cras fermentum odio. -->
</main>
